# HODAN MOHAMED ABDI_SBA23416_Lvl8_CA2

**Introduction**

A company has collected data for their employees and is planning to use this data to identify patterns and trends that can help to improve employees satisfaction and productivity. The dataset contains information about their employees, including their age, gender, education level, job role, hourly pay rate, work experience, job satisfaction, and more. The purpose is to use your knowledge in decision making for the optimisation of company operations and welfare of the employees.

**Task: Data Preparation - Statistical Techniques - Machine Learning Using Employee_Attrition Dataset**

As a data analyst, your task is to prepare and analyse the data set using appropriate data preparation, statistical techniques and ML models. Your analysis should aim to identify any relationships or trends in the data that can be used to improve employee satisfaction and productivity. Evaluate the influence of data preparation for the use of Statistical Techniques and ML modelling outcomes. Communicate the results in a form of a report in the Jupyter notebook markdown of the analysis to stakeholders using clear and concise explanations, visualisations, and appropriate statistical terminology. All work should be stored on github and perform commits.

### Importing Libraries

In [3]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

### Importing Dataset

In [5]:
Employee_Attrition_df =pd.read_csv ("Employee_Attrition.csv")
Employee_Attrition_df.head(10)

         Age Attrition     BusinessTravel    DailyRate              Department  DistanceFromHome  Education    EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel                    JobRole  JobSatisfaction MaritalStatus  MonthlyIncome   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0  41.920786       Yes      Travel_Rarely   990.110009                   Sales          1.016716   1.770313     Life Sciences       1.033298        1.054148                 2.146294    Male   93.827486        3.426960  2.464492            Sales Executive         3.397665        Single    6438.949336  20845.103714            7.077818      Y      Yes           9.898765           2.844897                  1.012832      95.612654          0.000000           8.063833               0.000000         1.052104        5.795945            3.993896                 0.000000              4.594972
1  51.589037        No  Travel_Frequently   276.776030  Research & Development               NaN   1.035333     Life Sciences       0.944859        2.107031                 3.470803    Male   52.304157        1.813458  1.788697         Research Scientist         1.584059       Married    4457.659622  24877.898697            1.114423      Y       No                NaN           4.120281                  4.312008      85.370868          1.104642           8.965059               3.264952         2.526470       10.070232            7.937505                 1.032295              5.901207
2  33.131540       Yes      Travel_Rarely  1204.158501  Research & Development          2.198662   2.118801             Other       0.810809        4.008125                 3.979420    Male   87.271332        1.877226  0.833488      Laboratory Technician         3.301009        Single    2124.545220   2262.942954            5.539591      Y      Yes          15.401596           2.781168                  2.332558      76.248084          0.000000           8.427238               3.004521         2.924784        0.000000            0.000000                 0.000000              0.000000
3  34.707073        No  Travel_Frequently  1352.752432                   Sales          2.937851   3.670674     Life Sciences       0.822976        4.587269                 3.734705  Female   56.378982        2.932646  1.095372         Research Scientist         3.220844       Married    2771.699080  27189.905714            0.772793    NaN      Yes           9.757546           2.769576                  3.029591      75.888697          0.000000           7.662606               2.856001         3.117053        8.435324            5.563667                 2.845429              0.000000
4  24.790188        No      Travel_Rarely   485.053333  Research & Development          1.988953   1.120496           Medical            NaN        7.228740                 1.079412    Male   40.433887        3.117739  0.937746      Laboratory Technician         1.697330       Married    3254.601575  17675.541599           10.118125    NaN      NaN          11.920147           3.282183                       NaN      72.670937          0.953012           6.241733               2.814719         3.112317        2.040124            1.970786                 2.495949              2.219353
5  29.766336        No  Travel_Frequently   900.495555  Research & Development          1.805415        NaN     Life Sciences       0.911961        8.434914                 4.198522    Male   74.570729        2.684099  0.933077      Laboratory Technician         3.283670        Single    3258.643343  11576.351829            0.000000      Y       No          13.474397           3.085446                  2.798835            NaN          0.000000           6.694851               1.871592         2.046544        6.092499            8.389254                 3.131537              7.060896
6  61.934723       NaN                NaN  1284.456352  Research & Development          2.502578        NaN           Medical       0.842456       11.019992                 2.845946  Female   82.238136        3.464390  0.893611      Laboratory Technician              NaN       Married    2659.952996  10226.206619            3.822601      Y      Yes          19.452026           4.473227                  0.809695      80.237136          3.190519          11.226132                    NaN         2.198286             NaN            0.000000                 0.000000              0.000000
7  27.098235        No      Travel_Rarely          NaN  Research & Development         22.329189   0.923262     Life Sciences       0.888357       10.066385                 3.194771    Male   73.230392        3.043275  1.223810                        NaN         2.933982      Divorced    3091.778600  14958.444688            1.169819      Y       No          21.367034           4.173202                  2.062221      75.003287          0.891104           1.058393               1.868045              NaN        0.962310            0.000000                 0.000000              0.000000
8  30.379999       NaN  Travel_Frequently   195.346240  Research & Development               NaN   3.209049     Life Sciences       0.834966       13.496344                 4.205716    Male         NaN        2.167565  2.748524                        NaN         3.079497        Single   10089.717322   8130.111133            0.000000      Y       No                NaN           4.395156                  2.156785      91.975003          0.000000          10.088953               1.905135         3.104763        9.894773            7.992665                 1.151091              7.080628
9  35.373614        No      Travel_Rarely  1277.914019  Research & Development         28.618060   3.144818  Technical Degree            NaN       12.351803                      NaN    Male  100.375750        3.033108       NaN  Healthcare Representative         3.359002       Married    5129.645259  13762.896232            6.934706      Y       No          12.534049           2.895479                  1.933506      86.334628          1.947497          18.805415               3.008464         2.105678        5.959244            6.414024                      NaN              6.447820

### Characterisation of Dataset

In [6]:
Employee_Attrition_df.shape

(1470, 35)

**Identifying Attributes**

In [7]:
num_attributes = len(Employee_Attrition_df.columns)
print("Number of Attributes:", num_attributes)

Number of Attributes: 35

**Identifying Observations**

In [8]:
num_observations = Employee_Attrition_df.shape[0]
print("Number of Observations:", num_observations)

Number of Observations: 1470

<h1>EXPLORATORY DATA ANALYSIS</h1>